body{
    background-color: cornsilk;
}

li{
   background-color: darkmagenta;
   padding: 2px;
   list-style-type: square;
}

li:hover{
    opacity: 0.4;
}

button {

    font-family: cursive;
    background-color: lightcoral;
    border-radius: 5px;
    border: 1px double magenta;
    color: black;
    text-align: center;
    font-size: 10px;
    height: 30px;
    margin-top: 3px;
  }

  button:hover{
      box-shadow: 4px 3px 6px;
  }



